@font-face {
    font-family: K2D;
    src: url('/fonts/K2D-Thin.ttf');
}

@font-face {
    font-family: K2D-Italic;
    src: url('/fonts/K2D-ThinItalic.ttf');
}

body {
    background-color: #00897B;
    width: 26em;
}

h1 {
    font-family: K2D;
    font-size: 59;
    color: #FFFFFF;
    margin: 0;
    margin-top: 0.3em;
}

p {
    font-family: K2D;
    font-size: 30;
    margin: 0;
    color: #FFFFFF;
}

.tlIcon {
    position: fixed;
    display: block;
    height: 4em;
    width: 4em;
}

.scanHint {
    font-family: K2D-Italic;
    font-size: 25;
    opacity: 77%;
    color: #FFFFFF;
    margin: 0;
}

.MainScanBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.scanButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 12em;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.scanButton:hover {
    cursor: pointer;
}

.scanButton img {
    display: block;
    width: 70%;
    height: 70%;
}